.cover__link {
  text-decoration: none;
  display: block;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, 0.8);
  transition: background-color .2s linear;
}

