.intro__list {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 0 16px 0 16px;
  list-style: none;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .intro__list {
    padding: 0 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__list {
    padding: 0 286px 0 48px;
    margin: auto;
    max-width: 690px;
  }
}

@media screen and (min-width: 1280px) {
  .intro__list {
    padding-left: 148px;
    padding-right: 448px;
  }
}
